In [20]:
import pandas as pd
import numpy as np
import csv

In [48]:
df= pd.read_csv(r"C:\Users\Again\Downloads\Compressed\archive\Airbnb_Open_Data.csv", sep=',', index_col=False, dtype='unicode')

In [49]:
print(df)

             id                                              NAME  \
0       1001254                Clean & quiet apt home by the park
1       1002102                             Skylit Midtown Castle
2       1002403               THE VILLAGE OF HARLEM....NEW YORK !
3       1002755                                               NaN
4       1003689  Entire Apt: Spacious Studio/Loft by central park
...         ...                                               ...
102594  6092437                        Spare room in Williamsburg
102595  6092990                     Best Location near Columbia U
102596  6093542                    Comfy, bright room in Brooklyn
102597  6094094                  Big Studio-One Stop from Midtown
102598  6094647                              585 sf Luxury Studio

            host id host_identity_verified    host name neighbourhood group  \
0       80014485718            unconfirmed     Madaline            Brooklyn
1       52335172823               verified        Jenna           Manhattan
2       78829239556                    NaN        Elise           Manhattan
3       85098326012            unconfirmed        Garry            Brooklyn
4       92037596077               verified       Lyndon           Manhattan
...             ...                    ...          ...                 ...
102594  12312296767               verified         Krik            Brooklyn
102595  77864383453            unconfirmed        Mifan           Manhattan
102596  69050334417            unconfirmed        Megan            Brooklyn
102597  11160591270            unconfirmed  Christopher              Queens
102598  68170633372            unconfirmed      Rebecca           Manhattan

              neighbourhood       lat       long        country  ...  \
0                Kensington  40.64749  -73.97237  United States  ...
1                   Midtown  40.75362  -73.98377  United States  ...
2                    Harlem  40.80902   -73.9419  United States  ...
3              Clinton Hill  40.68514  -73.95976  United States  ...
4               East Harlem  40.79851  -73.94399  United States  ...
...                     ...       ...        ...            ...  ...
102594         Williamsburg  40.70862  -73.94651  United States  ...
102595  Morningside Heights   40.8046  -73.96545  United States  ...
102596           Park Slope  40.67505  -73.98045  United States  ...
102597     Long Island City  40.74989  -73.93777  United States  ...
102598      Upper West Side  40.76807  -73.98342  United States  ...

       service fee minimum nights number of reviews last review  \
0            $193              10                 9  10/19/2021
1             $28              30                45   5/21/2022
2            $124               3                 0         NaN
3             $74              30               270    7/5/2019
4             $41              10                 9  11/19/2018
...            ...            ...               ...         ...
102594       $169               1                 0         NaN
102595       $167               1                 1    7/6/2015
102596       $198               3                 0         NaN
102597       $109               2                 5  10/11/2015
102598       $206               1                 0         NaN

       reviews per month review rate number calculated host listings count  \
0                   0.21                  4                              6
1                   0.38                  4                              2
2                    NaN                  5                              1
3                   4.64                  4                              1
4                    0.1                  3                              1
...                  ...                ...                            ...
102594               NaN                  3                              1
102595              0.02                  2                              2
102596               NaN                  5                              1
102597               0.1                  3                              1
102598               NaN                  3                              1

       availability 365                                        house_rules  \
0                   286  Clean up and treat the home the way you'd like...
1                   228  Pet friendly but please confirm with me if the...
2                   352  I encourage you to use my kitchen, cooking and...
3                   322                                                NaN
4                   289  Please no smoking in the house, porch or on th...
...                 ...                                                ...
102594              227  No Smoking No Parties or Events of any kind Pl...
102595              395  House rules: Guests agree to the following ter...
102596              342                                                NaN
102597              386                                                NaN
102598               69                                                NaN

       license
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
102594     NaN
102595     NaN
102596     NaN
102597     NaN
102598     NaN

[102599 rows x 26 columns]

In [50]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10,9,10/19/2021,0.21,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30,45,5/21/2022,0.38,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.9419,United States,...,$124,3,0,NaN,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30,270,7/5/2019,4.64,4,1,322,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10,9,11/19/2018,0.1,3,1,289,"Please no smoking in the house, porch or on th...",NaN

In [51]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  object
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  object
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  object
 8   long                            102591 non-null  object
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  object
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  object
 18  number of reviews               102416 non-null  object
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   object
 21  review rate number              102273 non-null  object
 22  calculated host listings count  102280 non-null  object
 23  availability 365                102151 non-null  object
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: object(26)
memory usage: 20.4+ MB

In [53]:
df['license']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
102594    NaN
102595    NaN
102596    NaN
102597    NaN
102598    NaN
Name: license, Length: 102599, dtype: object

In [57]:
dfnew= df.drop(columns=['house_rules', 'license', 'country code'])

In [58]:
dfnew.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,2020,$966,$193,10,9,10/19/2021,0.21,4,6,286
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,2007,$142,$28,30,45,5/21/2022,0.38,4,2,228
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.9419,United States,...,2005,$620,$124,3,0,NaN,NaN,5,1,352
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,2005,$368,$74,30,270,7/5/2019,4.64,4,1,322
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,2009,$204,$41,10,9,11/19/2018,0.1,3,1,289

In [59]:
dfnew.shape

(102599, 23)

In [60]:
dfnew.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365'],
      dtype='object')

In [62]:
new_columns_names=[]
for i in dfnew.columns:
    new_columns_names.append(i.lower())

In [63]:
new_columns_names

['id',
 'name',
 'host id',
 'host_identity_verified',
 'host name',
 'neighbourhood group',
 'neighbourhood',
 'lat',
 'long',
 'country',
 'instant_bookable',
 'cancellation_policy',
 'room type',
 'construction year',
 'price',
 'service fee',
 'minimum nights',
 'number of reviews',
 'last review',
 'reviews per month',
 'review rate number',
 'calculated host listings count',
 'availability 365']

In [64]:
dfnew.columns=new_columns_names

In [65]:
dfnew.columns

Index(['id', 'name', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'instant_bookable', 'cancellation_policy', 'room type',
       'construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365'],
      dtype='object')

In [66]:
dfnew.duplicated().sum()

541

In [74]:
dfnew.drop_duplicates( inplace = True)

In [75]:
dfnew.duplicated().sum()

0

In [77]:
dfnew.isna().sum()

id                                    0
name                                250
host id                               0
host_identity_verified              289
host name                           404
neighbourhood group                  29
neighbourhood                        16
lat                                   8
long                                  8
country                             532
instant_bookable                    105
cancellation_policy                  76
room type                             0
construction year                   214
price                               247
service fee                         273
minimum nights                      400
number of reviews                   183
last review                       15832
reviews per month                 15818
review rate number                  319
calculated host listings count      319
availability 365                    448
dtype: int64

In [78]:
dfnew.drop(columns=["last review", "reviews per month"], inplace = True)

In [79]:
dfnew.isna().sum()

id                                  0
name                              250
host id                             0
host_identity_verified            289
host name                         404
neighbourhood group                29
neighbourhood                      16
lat                                 8
long                                8
country                           532
instant_bookable                  105
cancellation_policy                76
room type                           0
construction year                 214
price                             247
service fee                       273
minimum nights                    400
number of reviews                 183
review rate number                319
calculated host listings count    319
availability 365                  448
dtype: int64

In [80]:
dfnew.dropna(inplace = True)

In [81]:
dfnew.isna().sum()

id                                0
name                              0
host id                           0
host_identity_verified            0
host name                         0
neighbourhood group               0
neighbourhood                     0
lat                               0
long                              0
country                           0
instant_bookable                  0
cancellation_policy               0
room type                         0
construction year                 0
price                             0
service fee                       0
minimum nights                    0
number of reviews                 0
review rate number                0
calculated host listings count    0
availability 365                  0
dtype: int64

In [82]:
dfnew.head()

,id,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,cancellation_policy,room type,construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,strict,Private room,2020,$966,$193,10,9,4,6,286
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,moderate,Entire home/apt,2007,$142,$28,30,45,4,2,228
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,moderate,Entire home/apt,2009,$204,$41,10,9,3,1,289
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.975,United States,...,flexible,Entire home/apt,2013,$577,$115,3,74,3,1,374
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,moderate,Private room,2009,"$1,060",$212,45,49,5,1,219

In [83]:
dfnew.columns

Index(['id', 'name', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'instant_bookable', 'cancellation_policy', 'room type',
       'construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'review rate number',
       'calculated host listings count', 'availability 365'],
      dtype='object')

In [84]:
dfnew["instant_bookable"]

0         FALSE
1         FALSE
4         FALSE
5          TRUE
7         FALSE
          ...
102029    FALSE
102030     TRUE
102031     TRUE
102032    FALSE
102040     TRUE
Name: instant_bookable, Length: 98523, dtype: object

In [86]:
dfnew["instant_bookable"].apply(lambda x:1 if x == True else 0)

0         0
1         0
4         0
5         0
7         0
         ..
102029    0
102030    0
102031    0
102032    0
102040    0
Name: instant_bookable, Length: 98523, dtype: int64

In [87]:
dfnew

,id,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,cancellation_policy,room type,construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,strict,Private room,2020,$966,$193,10,9,4,6,286
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,moderate,Entire home/apt,2007,$142,$28,30,45,4,2,228
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,moderate,Entire home/apt,2009,$204,$41,10,9,3,1,289
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.975,United States,...,flexible,Entire home/apt,2013,$577,$115,3,74,3,1,374
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,moderate,Private room,2009,"$1,060",$212,45,49,5,1,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,flexible,Private room,2018,$822,$164,1,9,3,1,0
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,moderate,Private room,2015,$455,$91,4,36,1,1,0
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.7087,-73.9671,United States,...,flexible,Private room,2020,"$1,078",$216,1,58,5,2,120
102032,57353610,Spacious Room w/ 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,moderate,Private room,2007,$103,$21,7,40,1,5,148
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,strict,Private room,2022,$982,$196,1,239,2,2,361

In [88]:
dfnew.reset_index(inplace = True)

In [89]:
dfnew

,index,id,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,...,cancellation_policy,room type,construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count,availability 365
0,0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,...,strict,Private room,2020,$966,$193,10,9,4,6,286
1,1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,...,moderate,Entire home/apt,2007,$142,$28,30,45,4,2,228
2,4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,...,moderate,Entire home/apt,2009,$204,$41,10,9,3,1,289
3,5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.975,...,flexible,Entire home/apt,2013,$577,$115,3,74,3,1,374
4,7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,...,moderate,Private room,2009,"$1,060",$212,45,49,5,1,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98518,102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,...,flexible,Private room,2018,$822,$164,1,9,3,1,0
98519,102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,...,moderate,Private room,2015,$455,$91,4,36,1,1,0
98520,102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.7087,-73.9671,...,flexible,Private room,2020,"$1,078",$216,1,58,5,2,120
98521,102032,57353610,Spacious Room w/ 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,...,moderate,Private room,2007,$103,$21,7,40,1,5,148
98522,102040,57358028,"Room in Queens, NY, near LGA.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,...,strict,Private room,2022,$982,$196,1,239,2,2,361

In [90]:
dfnew.to_csv("cleaned_databnb.csv")